body::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
}

.simplebar-content {
  background-color: rgb(255, 255, 255);
  height: 716px;
  overflow: none;
  border-radius: 15px 15px 0 0;
  padding-top: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
}

.nav-group-items .nav-item {
  text-align: left !important;
  margin-left: -10px;
}

.simplebar-content .nav-title {
  text-align: left;
  margin-top: 30px;
  color: black;
}

.simplebar-content .nav-item {
  text-align: center;
  color: black;
}

.simplebar-content .nav-item .nav-icon.rounded {
  margin-top: 30px;
  margin-bottom: 10px;
}

html:not([dir='rtl']) .sidebar-nav .nav-group-toggle::after {
  margin-left: 10px;
}

.sidebar-nav .nav-group.show {
  margin: 15px 0;
}

.simplebar-content .navbar-group .nav-link.nav-group-toggle {
  margin-left: 20px;
  width: fit-content;
}

.sidebar-nav .nav-link {
  color: black !important;
  margin-left: -5px;
}

.sidebar-nav .nav-icon {
  color: black !important;
}

.sidebar-nav .nav-group-toggle::after {
  filter: brightness(0.1%);
}

.simplebar-content .nav-item .avatar {
  margin: 70px 0 40px 0;
  width: 80px;
}

.simplebar-content .nav-item .badge {
  padding: 10px 15px;
  font-size: 13px;
  margin: 10px 0 5px 0;
}

.simplebar-content .nav-item .nav-link {
  color: black;
}

.sidebar {
  background-color: transparent;
}

.sidebar .sidebar-brand {
  background-color: transparent;
}

.sidebar .sidebar-brand svg {
  display: none;
}

.inWILn {
  padding-left: 22px !important;
  padding-right: 16px !important;
}

.hONsUj::-webkit-scrollbar {
  display: none;
}

.gDAmFy {
  color: #5865f2 !important;
  fill: #5865f2 !important;
  background-color: transparent;
}
